h1{
    color:rgb(255, 145, 0);
    margin : 30px;
}
.header *{
    border:solid;
}
.header{
    background-color: rgb(251, 255, 0);
    display: flex;
   justify-content:space-between; 
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
}
body{
    background-color: rgb(61, 60, 60);
}
a:link{
    color:orange
}
a:visited{
    color:orange
}
.menu{
    margin-right: 30px;
}
.menu a {
    margin-left: 20px ;

}
.item {
    position:relative;
}
.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0 ;
}
.item:hover p{
    opacity: 1 ;
}
.item:hover img{
    opacity: 0.33 ;
}
